{% extends "index.html" %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dashboard.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
{% endblock header %}



{% block content %}

    {#
    {% if data.donations not None %}
        {% set donation_data = {{ data.donations }} %}
    {% endif %}

    {% if data.events not None %}
        {% set event_data = {{ data.event }} %}
    {% endif %}
    #}

    {# top overviews #}

    <div class="container-fluid">
        <br>
        <h2>Monthly Overview</h2>
        <br>

        <div class="row">
            <!-- dummy data cards for expo -->
            <br/>
            <div class="row text-center col-md mx-auto">
                <div class="col">
                    <div class="counter">
                        <i class="fas fa-university fa-2x"></i>
                        <h2 class="timer count-title count-number" data-to="1273" data-speed="1500">$</h2>
                        <p class="count-text ">Account Balance</p>
                    </div>
                </div>

                <div class="col">
                    <div class="counter">
                        <i class="fas fa-hand-holding-usd fa-2x"></i>
                        <h2 class="timer count-title count-number" data-to="108" data-speed="1500">$</h2>
                        <p class="count-text ">Cash Donations</p>
                    </div>
                </div>

                <div class="col">
                    <div class="counter">
                        <i class="fas fa-hands-helping fa-2x"></i>
                        <h2 class="timer count-title count-number" data-to="8" data-speed="1500"></h2>
                        <p class="count-text ">New Volunteers</p>
                    </div>
                </div>

                <div class="col">
                    <div class="counter">
                        <i class="fas fa-dog fa-2x"></i>
                        <h2 class="timer count-title count-number" data-to="15" data-speed="1500"></h2>
                        <p class="count-text ">Dogs Adopted</p>
                    </div>
                </div>

            </div>
        </div>



        <!--
        <div class="col-xl-4 col-sm-6 mb-3" style="height: 150px;">
            <div class="card text-white bg-primary o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-comments"></i>
                    </div>
                    <div class="mr-5">6 Reminders!</div>
                </div>

                <a class="card-footer text-white clearfix small z-1" href="#">
                    <span class="float-left">View Reminders on Docket</span>
                    <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>

        <div class="col-xl-4 col-sm-6 mb-3" style="height: 150px;">
            <div class="card text-white bg-danger o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-life-ring"></i>
                    </div>
                    <div class="mr-5">3 New Volunteers!</div>
                </div>

                <a class="card-footer text-white clearfix small z-1" href="#">
                    <span class="float-left">New Volunteer Onboarding</span>
                    <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>


        <div class="col-xl-4 col-sm-6 mb-3" style="height: 150px;">
            <div class="card text-white bg-success o-hidden h-100">
                <div class="card-body">
                    <div class="card-body-icon">
                        <i class="fas fa-fw fa-shopping-cart"></i>
                    </div>
                    <div class="mr-5">Connect Your Bank Account</div>
                </div>
                <a class="card-footer text-white clearfix small z-1" href="https://plaid.com/">
                    <span class="float-left">Powered By Plaid</span>
                    <span class="float-right">
                        <i class="fas fa-angle-right"></i>
                    </span>
                </a>
            </div>
        </div>

        -->

        <br>
        <br>

        <div class="row">
            <div class="col-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-chart-area"></i>
                        Donations Chart
                    </div>

                    <div class="card-body">
                        <canvas id="donationsChart" width="100%" height="50"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-chart-area"></i>
                        Donation Source Breakdown
                    </div>

                    <div class="card-body">
                        <canvas id="donationsSourceChart" width="80%" height="40"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </div>



    <script>
        {#        {% if data %}#}
        {#
            {% set donation_dates =
                    {% for donation in donation_data %}
                {% set donation_dates[{{ donation.index }}] = {{ donation.date }} %}
                {% endfor %}
                    %}

            {% set donation_amounts =
                    {% for donation in donation_data %}
                {% set donation_amounts[{{ donation.index }}] = {{ donation.amount }} %}
                {% endfor %}
                    %}

            {% set donation_types_graph = {'Cash': 0, 'Check': 0, 'Venmo': 0, 'Cashapp': 0} %}
            {% set donation_pie_labels = {{ donation_types_graph.keys() }} %}
            {% set donation_pie_values = {{ donation_types_graph.values() }} %}
            #}

        var ctx = document.getElementById("donationsChart").getContext('2d');
        var donationsChart = new Chart(ctx, {
            type: 'bar',
            data: { labels : [  {% for item in donation_dates %}
                "{{ item }}",
                {% endfor %}],
                datasets: [{
                    label: 'Donations',
                    data : [{% for item in donation_amounts %}
                        {{ item }},
                        {% endfor %}],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },

            options: {
                legend: {
                    display: false
                },

                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
        {#        {% endif %}#}

        var ctx = document.getElementById("donationsSourceChart").getContext('2d');
        var donationsSourceChart = new Chart(ctx, {
            type: 'pie',
            data:
            {
                labels : [{% for item in donation_pie_labels %}
                    "{{ item }}",
                    {% endfor %}],
                datasets: [{
                    label: 'Donation Amount',
                    data : [{% for item in donation_pie_values %}
                        {{ item }},
                        {% endfor %}],

                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],

                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },

            options: {
            }
        });
        // Javascript for handling Link portion of Plaid
        (function($) {
            var handler = Plaid.create({
                clientName: 'Plaid Quickstart',
                env: 'sandbox',
                // Replace with your public_key from the Dashboard
                key: '{{plaid_public_key}}',
                product: ['transactions'],
                // Optional, use webhooks to get transaction and error updates
                // Change to our own webhook
                webhook: 'https://requestb.in',
                onLoad: function() {
                    // Optional, called when Link loads
                },
                onSuccess: function(public_token, metadata) {
                    // Send the public_token to your app server.
                    // The metadata object contains info about the institution the
                    // user selected and the account ID or IDs, if the
                    // Select Account view is enabled.
                    $.post('/get_access_token', {
                        public_token: public_token,
                    });
                },
                onExit: function(err, metadata) {
                    // The user exited the Link flow.
                    if (err != null) {
                        // The user encountered a Plaid API error prior to exiting.
                    }
                    // metadata contains information about the institution
                    // that the user selected and the most recent API request IDs.
                    // Storing this information can be helpful for support.
                },
                onEvent: function(eventName, metadata) {
                    // Optionally capture Link flow events, streamed through
                    // this callback as your users connect an Item to Plaid.
                    // For example:
                    // eventName = "TRANSITION_VIEW"
                    // metadata  = {
                    //   link_session_id: "123-abc",
                    //   mfa_type:        "questions",
                    //   timestamp:       "2017-09-14T14:42:19.350Z",
                    //   view_name:       "MFA",
                    // }
                }
            });

            $('#link-button').on('click', function(e) {

                handler.open();

            });
        })(jQuery);




        // JS for dummy cards used for expo presentation //
        ///////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////
        (function ($) {
            $.fn.countTo = function (options) {
                options = options || {};

                return $(this).each(function () {
                    // set options for current element
                    var settings = $.extend({}, $.fn.countTo.defaults, {
                        from:            $(this).data('from'),
                        to:              $(this).data('to'),
                        speed:           $(this).data('speed'),
                        refreshInterval: $(this).data('refresh-interval'),
                        decimals:        $(this).data('decimals')
                    }, options);

                    // how many times to update the value, and how much to increment the value on each update
                    var loops = Math.ceil(settings.speed / settings.refreshInterval),
                        increment = (settings.to - settings.from) / loops;

                    // references & variables that will change with each update
                    var self = this,
                        $self = $(this),
                        loopCount = 0,
                        value = settings.from,
                        data = $self.data('countTo') || {};

                    $self.data('countTo', data);

                    // if an existing interval can be found, clear it first
                    if (data.interval) {
                        clearInterval(data.interval);
                    }
                    data.interval = setInterval(updateTimer, settings.refreshInterval);

                    // initialize the element with the starting value
                    render(value);

                    function updateTimer() {
                        value += increment;
                        loopCount++;

                        render(value);

                        if (typeof(settings.onUpdate) == 'function') {
                            settings.onUpdate.call(self, value);
                        }

                        if (loopCount >= loops) {
                            // remove the interval
                            $self.removeData('countTo');
                            clearInterval(data.interval);
                            value = settings.to;

                            if (typeof(settings.onComplete) == 'function') {
                                settings.onComplete.call(self, value);
                            }
                        }
                    }

                    function render(value) {
                        var formattedValue = settings.formatter.call(self, value, settings);
                        $self.html(formattedValue);
                    }
                });
            };

            $.fn.countTo.defaults = {
                from: 0,               // the number the element should start at
                to: 0,                 // the number the element should end at
                speed: 1000,           // how long it should take to count between the target numbers
                refreshInterval: 100,  // how often the element should be updated
                decimals: 0,           // the number of decimal places to show
                formatter: formatter,  // handler for formatting the value before rendering
                onUpdate: null,        // callback method for every time the element is updated
                onComplete: null       // callback method for when the element finishes updating
            };

            function formatter(value, settings) {
                return value.toFixed(settings.decimals);
            }
        }(jQuery));

        jQuery(function ($) {
            // custom formatting example
            $('.count-number').data('countToOptions', {
                formatter: function (value, options) {
                    return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
                }
            });

            // start all the timers
            $('.timer').each(count);

            function count(options) {
                var $this = $(this);
                options = $.extend({}, options || {}, $this.data('countToOptions') || {});
                $this.countTo(options);
            }
        });

        ///////////////////////////////////////////////////////////////////////
        ///////////////////////////////////////////////////////////////////////

    </script>

{% endblock content %}
