{% extends "form_base.html" %}

{% block form_content %}

<form action="" method="post" novalidate>
    <p> {{ form.name.label }} <br> {{ form.name(size=32) }} </p>
    <p> {{ form.breed.label }} <br> {{ form.breed(size=32) }} </p>
    <p> {{ form.gender() }} {{ form.gender.label }} </p>
    <p> {{ form.age.label }} <br> {{ form.age(size=32) }} </p>
    <p> {{ form.weight.label }} <br> {{ form.weight(size=32) }} </p>
    <p> {{ form.aggressive.label }} <br> {{ form.aggressive(size=32) }} </p>
    <p> {{ form.disease.label }} <br> {{ form.disease(size=32) }} </p>
    <p> {{ form.email.label }} <br> {{ form.email(size=32) }} </p>
    <p> {{ form.comments.label }} <br> {{ form.comments(size=32) }} </p>
    {# <p> {{ form.recaptcha.label }} <br> {{ form.recaptcha(size=32) }} </p> #}
    <p> {{ form.submit() }} </p>
</form>

{% endblock %}
