{% extends "index.html" %}

{% block content %}
        {% for form in forms.items() %}
            <br>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="mx-auto">
                            <a href="{{ form[1]['form_link'] }}" class="btn btn-primary" id="{{ form[1]['form_name'] }}_btn">
                                {{ form[1]['form_name'] }} Form
                            </a>
                        </div>
                    </div>

                    <form action="{{ url_for('edit_form_link') }}" method="post" class="mx-auto">
                        <input type="hidden" name="form_id" value="{{ form[0] }}">
                        <input type="hidden" name="form_name" value="{{ form[1]['form_name'] }}">
                        <input type="hidden" id="new_form_link_{{ form[1]['form_name'] }}" name="new_form_link">

                        <br>
                        <div class="row justify-content-md-center">
                            <div class="col-md-auto">
                                <input type="text" id="form_link_{{ form[1]['form_name'] }}" disabled='disabled' name="form_link" value="{{ form[1]['form_link'] }}">
                            </div>

                            <div class="col-1 col">
                                <button type="button" class="btn btn-secondary btn-sm" id="edit_btn_{{ form[1]['form_name'] }}"
                                    style="display:block"
                                    onclick=
                                       "this.style.display='none';
                                        var save_btn = document.getElementById('save_btn_' + '{{ form[1]['form_name'] }}');
                                        var form_link = document.getElementById('form_link_' + '{{ form[1]['form_name'] }}');

                                        save_btn.style.display='block';
                                        form_link.disabled=false;"
                                >
                                    Edit
                                </button>

                                <button type="submit" class="btn btn-secondary btn-sm" id="save_btn_{{ form[1]['form_name'] }}" style="display:none"
                                    onclick=
                                       "this.style.display='none';
                                        var edit_btn = document.getElementById('edit_btn_' + '{{ form[1]['form_name'] }}');
                                        var form_link = document.getElementById('form_link_' + '{{ form[1]['form_name'] }}');
                                        var new_form_link = document.getElementById('new_form_link_' + '{{ form[1]['form_name'] }}');

                                        edit_btn.style.display='block';
                                        form_link.disabled=true;
                                        new_form_link.value = form_link.value"
                                >
                                    Save
                                </button>
                            </div>
                        </div>
                    </form>
                </li>
            </ul>
        {% endfor %}
{% endblock %}
