{% extends "index.html" %}

{% block content %}
    {% set active_page = page %}

    {% set active_page = active_page|default('Donations') -%}

    {% set navigation_bar = [
        ('/data?table=Dogs', 'Dogs', 'Dogs'),
        ('/data?table=Person', 'People', 'People'),
        ('/data?table=donations', 'Donations', 'Donations'),
        ('/data?table=events', 'Events', 'Events')
    ] -%}


    <div class="nav-scroller bg-white box-shadow">
        <nav class="nav nav-underline">
            {% for href, db, caption in navigation_bar %}
                {% if db == active_page %}
                    <a class="nav-item nav-link active"
                {% else %}
                    <a class="nav-item nav-link"
                {% endif %}

                href="{{ href|e }}">{{ caption|e }}</a>
            {% endfor %}
        </nav>
    </div>

    <main role="main" class="container">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
            <img class="mr-3" src="{{ url_for('static',filename='imgs/folder.svg') }}" alt="" width="48" height="48">
            <div class="lh-100">
                <h2 class="mb-0 text-white lh-100">{{ active_page.upper() }}</h2>
            </div>
        </div>

        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded box-shadow">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search" onkeyup="search()" id="searchBox"aria-label="Search">
            </form>
        </div>

        <div class="my-3 p-3 bg-white rounded box-shadow">
            <div class="tab-pane fade show active" id="pills-table" role="tabpanel" aria-labelledby="data-table">

                {% set attr_titles = [] %}
                {% for doc_id, document in data.items() %}
                    {% for attribute in document %}
                        {% set attr_titles = attr_titles.extend([attribute]) %}
                    {% endfor %}
                {% endfor %}

                <table class="table table-hover table-responsive table-bordered" id="dataTable">
                    <thead class="thead-light">
                        {% for attribute in attr_titles | unique %}
                            <th scope="col"> {{ attribute }} </th>
                        {% endfor %}
                    </thead>

                    <tbody>
                        {% for doc_id, document in data.items() %}
                            <tr>
                                {% for attribute in document %}
                                    
                                    {%if attribute == 'Amount'%}
                                        <td>{{ "$%.2f"|format(document[attribute]|float) }}</td>
                                    {%else%}
                                    <td> {{ document[attribute] }} </td>
                                    {% endif %}
                                        
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <form action = "/data?table={{ page }}" method = "POST">
                        <div class="modal-header">
                            <input class="form-control" id="disabledInput" type="text" name="id" readonly="readonly">

                            <!-- <h5 class="modal-title" id="modalTitle"></h5> -->
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <script>
            function search() {
                var filter = document.getElementById("searchBox").value.toUpperCase();
                var tr = document.getElementById("dataTable").getElementsByTagName("tr");
                for (i = 0; i < tr.length; i++) {
                    var td = tr[i].getElementsByTagName("td");
                    for (j = 0; j < td.length; j++) {
                        if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                            break;
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>

    </main>

{% endblock %}
