Flask==0.12.1
Flask-WTF>=0.14.2
Jinja2==2.10
WTForms>=2.2.1
MarkupSafe==1.0
Pyrebase==3.0.27
Werkzeug==0.14.1
click==6.7
gcloud==0.17.0
googleapis-common-protos==1.5.3
gunicorn==19.7.1
httplib2==0.11.3
itsdangerous==0.24
jws==0.1.3
mailchimp3>=3.0.6
oauth2client==3.0.0
oauthlib==2.0.2
plaid-python==2.2
protobuf==3.6.1
pyasn1-modules==0.2.2
pyasn1==0.4.4
pycrypto==2.6.1
pycryptodome==3.4.3
pymongo==3.4.0
pyrebase==3.0.27
python-jwt==2.0.1
requests-oauthlib==0.8.0
requests-toolbelt==0.7.0
requests==2.11.1
rsa==3.4.2
six==1.11.0
