{% extends "index.html" %}

{% block content %}
{% set active_page = page %}

{% set active_page = active_page|default('Donations') -%}

{% set navigation_bar = [
    ('/data?table=donations', 'donations', 'Donations'),
    ('/data?table=fosters', 'fosters', 'Fosters'),
    ('/data?table=fosterdogs', 'fosterdogs', 'Foster Dogs'),
    ('/data?table=volunteers', 'volunteers', 'Volunteers')
] -%}

<div class="nav-scroller bg-white box-shadow">
    <nav class="nav nav-underline">
        {% for href, db, caption in navigation_bar %}
            {% if db == active_page %}
                <a class="nav-item nav-link active"
            {% else %}
                <a class="nav-item nav-link"
            {% endif %}

            href="{{ href|e }}">{{ caption|e }}</a>
        {% endfor %}
    </nav>

</div>

<main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
        <img class="mr-3" src="{{ url_for('static',filename='imgs/folder.svg') }}" alt="" width="48" height="48">
        <div class="lh-100">
            <h6 class="mb-0 text-white lh-100">{{ page }} Table</h6>
            <small>Updated 2018</small>
        </div>
    </div>

    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-dark rounded box-shadow">
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" onkeyup="search()" id="searchBox"aria-label="Search">
        </form>
    </div>

    {% if error %}
        <div class="d-flex align-items-center p-3 my-3 rounded box-shadow alert alert-danger" role="alert">
          {{ errorData }}
        </div>
    {% endif %}

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div class="tab-pane fade show active" id="pills-table" role="tabpanel" aria-labelledby="data-table">
            <table class="table" id="dataTable">
                <thead class="thead-light">
                    <tr>
                    {% for k in keys %}
                        <th scope="col">{{ k }}</th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for item in data %}
                    <tr>
                    {% for k in keys %}
                        <td class={{item["key"]}} data-toggle="modal" onclick="updateDiv('{{item["key"]}}', {{keys}})" data-target="#modalCenter">
                            {{ item["val"][k] }}
                         </td>
                    {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function updateDiv(uniqueKey, keys) {
            var data = []
            $("." + uniqueKey).each(function() {
                data.push($(this).text().trim());
            });

            var innerHTML = "<table class='table'>"
            for (i = 0; i < keys.length; i++) {
                innerHTML += "\
                    <tr>\
                        <th scope='col'>" + keys[i] +  "</th>\
                        <td>\
                            <input class='form-control' type='text' name='" + keys[i] + "'value='"+ data[i] +"'>\
                        </td>\
                    </tr>"
            }

            innerHTML += "</tr></table>"
            document.getElementById("modalData").innerHTML = innerHTML;
            document.getElementById("disabledInput").value = 'ID: ' + uniqueKey;
        }

        function search() {
            var filter = document.getElementById("searchBox").value.toUpperCase();
            var tr = document.getElementById("dataTable").getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                var td = tr[i].getElementsByTagName("td");
                for (j = 0; j < td.length; j++) {
                    if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

    </script>

    <div class="modal fade" id="modalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action = "/data?table={{page}}" method = "POST">
                    <div class="modal-header">
                        <input class="form-control" id="disabledInput" type="text" name="id" readonly="readonly">

                        <!-- <h5 class="modal-title" id="modalTitle"></h5> -->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modalData"></div>
                    <div class="modal-footer">
                        <div class="form-row">
                            <div class="col">
                                <input type="password" class="form-control btn-block" name="password" id="inputPassword2" placeholder="Password">
                            </div>
                            <div class="col">
                                <button type="submit" name="action" value="submit" class="btn btn-primary btn-block">Save</button>
                            </div>
                            <div class="col">
                                <button type="submit" name="action" value="delete" class="btn btn-block btn-outline-danger">Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>


{% endblock %}
