{% extends "index.html" %}

{% block content %}
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="data-table" data-toggle="pill" href="#pills-table" role="tab" aria-controls="pills-home" aria-selected="true">Fosters Table</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="form" data-toggle="pill" href="#pills-form" role="tab" aria-controls="pills-profile" aria-selected="false">Form</a>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-table" role="tabpanel" aria-labelledby="data-table">
            <h3>Fosters Table</h3>
            <br>
            <ul class="list-group">
              <li class="list-group-item">Foster Data</li>
              <li class="list-group-item">{{ data.val() }}</li>
            </ul>
        </div>

        <div class="tab-pane fade" id="pills-form" role="tabpanel" aria-labelledby="form">
            <h3>Register to be a Foster</h3>
            <div class="justify-content-center">
                <article>
                    <form action="/fosters" method="POST">
                        <div class="form-row">
                            <div class = "col form-group">
                                <label>Name</label>
                                <input name="fosterName" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <div class="col-sm-10">
                                <input class="form-control" placeholder="Street Address" name="street">
                                <input class="form-control" placeholder="City" name="city">
                                <select class="form-control" name="state" id="exampleSelect1">
                                    <option value="GA">Georgia</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District Of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                                <input class="form-control" placeholder="Zip Code" name="zipcode">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label>Can Adopt More</label>
                                <select name="adpotMore" class="form-control" id="exampleSelect1">
                                    <option value="None">----</option>
                                    <option value="True">True</option>
                                    <option value="False">False</option>
                                </select>
                            </div>
                            <div class="col form-group">
                                <label>Dog Friendly</label>
                                {#                            <input type="text" class="form-control" placeholder="">#}
                                <select name="dog-friendly" class="form-control" id="Select2">
                                    <option value="None">----</option>
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                </select>
                            </div>
                            <div class="col form-group">
                                <label>Human Friendly</label>
                                {#                            <input type="text" class="form-control" placeholder="">#}
                                <select name="human-friendly" class="form-control" id="Select2">
                                    <option value="None">----</option>
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Comments</label>
                            <input name="comments" type="text" class="form-control" placeholder="">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Submit Form </button>
                        </div>
                    </form>
                </article>
                {#        <div class="border-top card-body text-center">Bottom text</div>#}
            </div>
        </div>
    </div>
</div>

{% endblock %}
