{% extends "form_index.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ errorData }}
            </div>
        {% endif %}

        <div class="card">
            <header class="card-header">
                <h4 class="card-title mt-2">Register to be a Volunteer</h4>
            </header>

            <article class="card-body">
                <form action = "/volunteer" method = "POST">
                    <div class="form-row">
                        <div class="col form-group">
                            <label>First name </label>
                            <input type="text" class="form-control" placeholder="" name="firstName">
                        </div>

                        <div class="col form-group">
                            <label>Last name</label>
                            <input type="text" class="form-control" placeholder="" name="lastName">
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" class="form-control" placeholder="">
                        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>

                    <div class="form-row">
                        <div class="col form-group">
                            <label>Address</label>
                            <input class="form-control" placeholder="Street Address" name="street">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col form-group">
                            <input class="form-control" placeholder="City" name="city">
                        </div>

                        <div class="col form-group">
                            <select class="form-control" name="state" id="exampleSelect1">
                                <option value="GA">Georgia</option>
                                <option value="AL">Alabama</option>
                                <option value="AK">Alaska</option>
                                <option value="AZ">Arizona</option>
                                <option value="AR">Arkansas</option>
                                <option value="CA">California</option>
                                <option value="CO">Colorado</option>
                                <option value="CT">Connecticut</option>
                                <option value="DE">Delaware</option>
                                <option value="DC">District Of Columbia</option>
                                <option value="FL">Florida</option>
                                <option value="HI">Hawaii</option>
                                <option value="ID">Idaho</option>
                                <option value="IL">Illinois</option>
                                <option value="IN">Indiana</option>
                                <option value="IA">Iowa</option>
                                <option value="KS">Kansas</option>
                                <option value="KY">Kentucky</option>
                                <option value="LA">Louisiana</option>
                                <option value="ME">Maine</option>
                                <option value="MD">Maryland</option>
                                <option value="MA">Massachusetts</option>
                                <option value="MI">Michigan</option>
                                <option value="MN">Minnesota</option>
                                <option value="MS">Mississippi</option>
                                <option value="MO">Missouri</option>
                                <option value="MT">Montana</option>
                                <option value="NE">Nebraska</option>
                                <option value="NV">Nevada</option>
                                <option value="NH">New Hampshire</option>
                                <option value="NJ">New Jersey</option>
                                <option value="NM">New Mexico</option>
                                <option value="NY">New York</option>
                                <option value="NC">North Carolina</option>
                                <option value="ND">North Dakota</option>
                                <option value="OH">Ohio</option>
                                <option value="OK">Oklahoma</option>
                                <option value="OR">Oregon</option>
                                <option value="PA">Pennsylvania</option>
                                <option value="RI">Rhode Island</option>
                                <option value="SC">South Carolina</option>
                                <option value="SD">South Dakota</option>
                                <option value="TN">Tennessee</option>
                                <option value="TX">Texas</option>
                                <option value="UT">Utah</option>
                                <option value="VT">Vermont</option>
                                <option value="VA">Virginia</option>
                                <option value="WA">Washington</option>
                                <option value="WV">West Virginia</option>
                                <option value="WI">Wisconsin</option>
                                <option value="WY">Wyoming</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="form-control" placeholder="Zip Code" name="zipcode">
                    </div>

                    <div class="form-group">
                        <label>Phone Number</label>
                        <input name="age" type="text" class="form-control" placeholder="Phone Number" name="number">
                    </div>

                    <div class="form-group">
                        <label>I'm interested in ...</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="volunteering">
                            <label class="form-check-label" for="gridCheck1">Volunteering</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="fostering">
                            <label class="form-check-label" for="gridCheck1">Fostering</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="adopting">
                            <label class="form-check-label" for="gridCheck1">Adopting</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>I'm interested in volunteering in the following ways:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="long-term-foster">
                            <label class="form-check-label" for="gridCheck1">Long-term foster</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="short-term-foster">
                            <label class="form-check-label" for="gridCheck1">Short-term foster</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="emergency-foster">
                            <label class="form-check-label" for="gridCheck1">Emergency foster (1-2 days)</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="coordinating">
                            <label class="form-check-label" for="gridCheck1">Coordinating</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="putting-up-flyers">
                            <label class="form-check-label" for="gridCheck1">Putting up flyers</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="dog-walking">
                            <label class="form-check-label" for="gridCheck1">Dog walking</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="fundraisers">
                            <label class="form-check-label" for="gridCheck1">Fundraisers</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="helping-at-adoptions">
                            <label class="form-check-label" for="gridCheck1">Helping at Adoptions</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="transporting">
                            <label class="form-check-label" for="gridCheck1">Transporting</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="vet-appointments">
                            <label class="form-check-label" for="gridCheck1">Vet appointments</label>
                        </div>

                        <input class="form-control" placeholder="Other..." name="volunteering-other">
                    </div>

                    <div class="form-group">
                        <label>I'm interested in fostering/adopting a dog that is:</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="female">
                            <label class="form-check-label" for="gridCheck1">Female</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="male">
                            <label class="form-check-label" for="gridCheck1">Male</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="small">
                            <label class="form-check-label" for="gridCheck1">Small (less than 30 lbs)</label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="large">
                            <label class="form-check-label" for="gridCheck1">Large (50 lbs and up)</label>
                        </div>

                        <input class="form-control" placeholder="Only these breeds..." name="breeds">
                        <input class="form-control" placeholder="Other specifications..." name="fostering-other">
                    </div>

                    <div class="form-group">
                        <label>Other Comments</label>
                        <input type="text" class="form-control" placeholder="" name="comments">
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Submit</button>
                    </div>
                </form>
            </article>

            <div class="border-top card-body text-center">Thank you for registering!</a></div>

        </div>
    </div>
</div>

{% endblock %}
